<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "css.html" %}
    <title>Carrinho</title>
</head>

<body id="body">
    {% include "nav.html" %}

    <div class="container" id="container">
        <form id="frm" name="frm">
            <input type="text" name="idcarrinho" id="idcarrinho" class="esconder">
            <input type="text" name="idtotal" id="idtotal" class="esconder">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-striped table-hover" id="Tabelacabecalho">
                                <thead >
                                    <div >
                                        <select id="selectCli" class="form-select" aria-label="Default select example">
                                            <option selected disabled>Selecione o Cliente</option>
                                            {% for clientes in clientes %}
                                            <option value="{{clientes.id}}">{{clientes.nome}}</option>
                                            {% endfor %}
                                          </select>
                                    </div>
                                    <tr>
                                        <th>{{ col2 }}</th>
                                        <th>{{ col3 }}</th>
                                        <th>{{ col4 }}</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="dados" class="table-group-divider">
                                    {% for carrinho in carrinho %}
                                    <tr id="tr{{carrinho.id}}">
                                        <td>{{carrinho.nome}}</td>
                                        <td>{{carrinho.marca}}</td>
                                        <td>{{carrinho.preco}}</td>
                                        <td id="td">
                                            <div class='btn-group' role='group'id="{{carrinho.id}}">
                                            <button id="{{carrinho.id}}" onclick='deletaItem(id);' type='button' class='btn btn-danger' value="{{carrinho.id}}">
                                            <i id="{{carrinho.id}}" class='fa-solid fa-trash'> </i> Excluir
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>
                                            <div class='btn-group' role='group'>
                                                <button onclick='deletaTudo();' type='button' class='btn btn-warning'>
                                                <i class="fa-solid fa-eraser"></i> Limpar
                                                </div>
                                        </td>
                                        <th scope="row">Total</th>
                                        <td><input type="text" disabled class="form-control" id="inputTotalVenda"></td>
                                        <td>
                                            <div class='btn-group' role='group'>
                                                <button onclick='confirmar();' type='button' class='btn btn-success'>
                                                    <i class="bi bi-cart-check-fill"></i> Confirmar
                                                </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
    </div>

    {% include "script.html" %}
    <script src="/assets/js/carrinho.js"></script>

</body>
</html>