<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "css.html" %}
    <title>{{ titulo }}</title>
</head>

<body>
    {% include "nav.html" %}
    
    <!-- Modal -->
    <div class="modal fade" id="cadastroproduto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" name="frm" id="frm">
                    <input type="text" id="id" name="id">
                    <input type="text" id="acao" name="acao">
                    <input type="text" id="tipo" name="tipo" class="esconder">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">{{ tituloModal }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            id="fecharX"></button>
                    </div>
                    <div class="modal-body">
                        <!-- AQUI TEMOS UMA LINHA -->
                        <div class="row">
                            <!-- AQUI TEMOS UMA COLUNA OCUPANDO 100% DO TAMANHO DA LINHA -->
                            <div class="col-12">
                                <!-- AQUI TEMOS O COMPONENTE ALERT -->
                                <div id="alerta" class="alert alert-warning" role="alert">
                                    <!-- AQUI TEMOS O TITULO DO ALERT DO BOOTSTRAP -->
                                    <div id="titulo" class="mb-0">
                                        <h6 class="alert-heading">Atenção!</h6>
                                        Todos os campos com <span class="text-danger"> * </span> são obrigatórios para o
                                        cadastro!
                                    </div>
                                    <!-- AQUI TEMOS SPINNER PARA MENSAGEM DE SALVANDO -->
                                    <div id="carregando" class="mb-0 d-none">
                                        <div class="spinner-border text-primary spinner-border-sm" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                        <span>Salvando...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div id="inputs" class="">
                                    <div class="form-group">
                                        <label for="nome_produto" class="form-label" id="labelcod_produto">{{  nome_prod }}</label>
                                        <input type="text" class="form-control" id="nome_produto" name="nome_produto" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="marca_prod" class="form-label" id="labelMarca_prod">{{ marca }}</label>
                                        <input type="text" class="form-control" id="marca_prod" name="marca_prod"
                                            required >
                                    </div>
                                    <div class="form-group">
                                        <label for="descricao_prod" class="form-label"
                                            id="labelDescricao_Prod">{{ descricao_prod }}</label>
                                        <textarea type="text" class="form-control" id="descricao_prod"
                                            name="descricao_prod" required ></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="preco_prod" class="form-label" id="labelPreco_Prod">{{ preco }}</label>
                                        <input type="number" class="form-control" id="preco_prod" name="preco_prod"> 
                                    </div>

                                    <div class="form-group">
                                        <label for="dtfabricacao" class="form-label"
                                            id="labelDtfabricacao">{{ datafabricacao }}</label>
                                        <input type="date" class="form-control" id="dtfabricacao"
                                            name="dtfabricacao" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="fechar">
                            <i class="fa-solid fa-xmark"> </i> Fechar
                        </button>
                        <button id="btnsalvar" type="button" class="btn btn-success">
                            <i class="fa-solid fa-floppy-disk"></i> Salvar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editarproduto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" name="frmEditar" id="frmEditar">
                    <input type="text" id="idEditar" name="idEditar">
                    <input type="text" id="acao" name="acao">
                    <input type="text" id="tipo" name="tipo" class="esconder">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Editar produto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            id="fecharX"></button>
                    </div>
                    <div class="modal-body">
                        <!-- AQUI TEMOS UMA LINHA -->
                        <div class="row">
                            <!-- AQUI TEMOS UMA COLUNA OCUPANDO 100% DO TAMANHO DA LINHA -->
                            <div class="col-12">
                                <!-- AQUI TEMOS O COMPONENTE ALERT -->
                                <div id="alerta" class="alert alert-warning" role="alert">
                                    <!-- AQUI TEMOS O TITULO DO ALERT DO BOOTSTRAP -->
                                    <div id="titulo" class="mb-0">
                                        <h6 class="alert-heading">Atenção!</h6>
                                        Todos os campos com <span class="text-danger"> * </span> são obrigatórios para o
                                        cadastro!
                                    </div>
                                    <!-- AQUI TEMOS SPINNER PARA MENSAGEM DE SALVANDO -->
                                    <div id="carregando" class="mb-0 d-none">
                                        <div class="spinner-border text-primary spinner-border-sm" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                        <span>Salvando...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div id="inputs" class="">
                                    <div class="form-group">
                                        <label for="nome_produtoEditar" class="form-label" id="labelcod_produtoEditar">{{  nome_prod }}</label>
                                        <input type="text" class="form-control" id="nome_produtoEditar" name="nome_produtoEditar" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="marca_prodEditar" class="form-label" id="labelNome_prodEditar">{{ marca }}</label>
                                        <input type="text" class="form-control" id="marca_prodEditar" name="marca_prodEditar"
                                            required >
                                    </div>
                                    <div class="form-group">
                                        <label for="descricao_prodEditar" class="form-label"
                                            id="labelDescricao_ProdEditar">{{ descricao_prod }}</label>
                                        <textarea type="text" class="form-control" id="descricao_prodEditar"
                                            name="descricao_prodEditar" required ></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="preco_prodEditar" class="form-label" id="labelPreco_ProdEditar">{{ preco }}</label>
                                        <input type="number" class="form-control" id="preco_prodEditar" name="preco_prodEditar"> 
                                    </div>

                                    <div class="form-group">
                                        <label for="dtfabricacaoEditar" class="form-label"
                                            id="labelDtfabricacaoEditar">{{ datafabricacao }}</label>
                                        <input type="date" class="form-control" id="dtfabricacaoEditar"
                                            name="dtfabricacaoEditar" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="fecharEditar">
                            <i class="fa-solid fa-xmark"> </i> Fechar
                        </button>
                        <button id="btnsalvarEditar" type="button" class="btn btn-success">
                            <i class="fa-solid fa-floppy-disk"></i> Salvar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container" id="container">
        <form id="produtos" name="produtos">
            <input type="text" name="idproduto" id="idproduto" class="esconder">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <button id="btncadastro" type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#cadastroproduto">
                                <i class="fa-solid fa-plus"> </i> Cadastrar
                            </button>
                            <button id="btnatualiza" type="button" class="btn btn-primary">
                                <i class="fa-solid fa-rotate-right"> </i> Atualizar
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" id="pesquisa" name="pesquisa"
                                            placeholder="O que você procura?">
                                        <span class="input-group-text" id="btnPesquisar">
                                            <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                                        </span>
                                    </div>

                                </div>
                            </div>
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>{{ col2 }}</th>
                                        <th>{{ col3 }}</th>
                                        <th>{{ col4 }}</th>
                                        <th>{{ col5 }}</th>
                                        <th>{{ col6 }}</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="dados" class="table-group-divider">
                                    {% for produtos in produtos %}
                                    <tr id="tr{{produtos.id}}">
                                        <td>{{produtos.id}}</td>
                                        <td>{{produtos.nome}}</td>
                                        <td>{{produtos.marca}}</td>
                                        <td>{{produtos.descricao}}</td>
                                        <td>{{produtos.preco}}</td>
                                        <td>{{produtos.dtfabricacao}}</td>
                                        <td>
                                            <div class='btn-group' role='group'>
                                            <button type='button' onclick='alterar(id)' type='button' class='btn btn-warning'>
                                            <i class='fa-solid fa-pen-to-square'> </i> Editar
                                            </button>
                                            <button onclick='deleta(id);' type='button' class='btn btn-danger'>
                                            <i class='fa-solid fa-trash'> </i> Excluir
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </div>
    </div>

    {% include "script.html" %}
    <script src="/assets/js/produto.js"></script>
</body>

</html>