<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "css.html" %}
    <title>Lista de Vendas</title>
</head>

<body>
    {% include "nav.html" %}

    <div class="row vendas">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1>Lista de Vendas</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" id="pesquisa" name="pesquisa"
                                    placeholder="O que você procura?">
                                <span class="input-group-text" id="btnPesquisar">
                                    <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                                </span>
                            </div>

                        </div>
                    </div>

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>{{ col2 }}</th>
                                <th>{{ col3 }}</th>
                                <th>{{ col4 }}</th>
                                <th>{{ col5 }}</th>
                                <th>{{ col6 }}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="dados" class="table-group-divider">
                            {% for vendas in vendas %}
                            <tr id="tr{{vendas.id}}">
                                <td>{{vendas.id}}</td>
                                <td>{{vendas.nome}}</td>
                                <td>{{vendas.dtvenda}}</td>
                                <td>{{vendas.descricao}}</td>
                                <td>{{vendas.precoproduto}}</td>
                                <td>{{vendas.dtfabricacao}}</td>
                                <td>
                                    <div class='btn-group' role='group'>
                                        <button type='button' onclick='alterar(id)' type='button'
                                            class='btn btn-warning'>
                                            <i class='fa-solid fa-pen-to-square'> </i> Editar
                                        </button>
                                        <button onclick='deleta(id);' type='button' class='btn btn-danger'>
                                            <i class='fa-solid fa-trash'> </i> Excluir
                                        </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>
    </div>


    {% include "script.html" %}

</body>

</html>